# conda create -n Maomao python=3.12
# conda activate Maomao
# pip install -r requirements.txt

livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
mem0ai
duckduckgo-search
langchain_community
requests
python-dotenv